*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:rgba(14, 0, 0, 0.944);
}
.container{
    position:relative;
    width:750px;
    height:450px;
    border: 2px solid blueviolet;
    box-shadow:0 0 30px blueviolet;
    overflow: hidden;
}
.container .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    
}
.form-box.Register {
    display:none;
}
.form-box.login{
    left:0;
    padding:0 40px;

}
.form-box h2 {
    font-size: 32px;
    text-align:center;
}
.form-box .input-box {
    position:relative;
    width: 100%;
    height:50px;
    margin-top: 23px;
    border:none;

}
.form-box input{
    width:100%;
    height:100%;
    background: transparent;
    border:none;
    font-size:16px;
    color:white;
    font-weight:600;
    border-bottom:2px solid white;
    padding: right 23px;


}

.input-box label{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size:16px;
    color:rgb(246, 246, 246);
    transition: .5s;
    left: 4%;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    color: rgb(245, 243, 245);
}

.input-box i {
    position: absolute;
    top:50%;
    right:0;
    font-size: 18px;
    transform: translateY(-50%);   
}
.btn {
    position:relative;
    width:100%;
    border-radius: 40px;
    height:45px;
    background: transparent;
    border-radius:40px;
    cursor:pointer;
    font-size: 16px;
    font-weight:600;
    border: 2px solid;
    overflow: hidden;
    z-index: index -1;
}
.btn::before{
    content: "";
    position:absolute;
    height:300%;
    width:100%;
    background:linear-gradient(black,blueviolet);
    top:-100%;
    left:0;
    z-index:-1;
    transition: .5s;
}
.btn:hover:before {
    top:0;
}
.regi-link {
    font-size:14px;
    text-align:center;
    margin:20px 0 10px;
}
.regi-link a {
    text-decoration:none;
    color: blueviolet;
    font-weight: 1000;
}
.regi-link a:hover {
    text-decoration:underline;
}
.info-content {
    position: absolute;
    top:0;
    height:100%;
    width:50%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.info-content.Register {
    right:0;
    text-align: right;
    padding:0 40px 60px 150px;
    display: none;
}
.info-content.login {
    right:0;
    text-align: right;
    padding:0 40px 60px 150px;
}
.info-content h2 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.3;
}
.container .curved-shape{
    position: absolute;
    right:0;
    top:-5px;
    height:600px;
    width: 850px;
    background: linear-gradient(45deg,#25252b,blueviolet);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;


}
